<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a target="_blank" href="https://www.facebook.com/Footinvest-787968278256684/?modal=admin_todo_tour&ref=admin_to_do_step_controller"><i class="fab fa-facebook"></i></a>
    <a target="_blank" href="https://twitter.com/olserra"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Foot Rent ⚽️🙋🏻‍♂️
  </div>
</div>
