<div class="banner">
  <div class="banner-content">
    <h1>Football players rental</h1>
    <p>Choose your players and make a dream team</p>
    <div>
    <button class="btn-landing" type="button">Rent a player</button>
  </div>
</div>
