.btn-landing {
  width: 265px;
  height: 68px;
  border-radius: 35px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  line-height: normal;
  font-size: 18px;
  color: #FEFEFE;
  background-color: $footrent-color;
}

.btn-landing:hover {
    text-decoration: none;
    color: $footrent-color;
    background-color: white;
    border: 1px solid $footrent-color;
}
