.container {
  padding-top: 65px;
}
.card-player {
  font-size: 14px;
  height: 180px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #21CD9A;
  background-color: white;
  margin: 5px;
  box-shadow: 0px 2px 2px rgba(33, 205, 154, 0.4);
}
.link-player {
  color: #21CD9A;
  font-size: 20px;
  &:hover {
    color: rgba(33, 205, 154, 0.5);
    text-decoration: none;
   }
}
.link-book {
  color: #111111;
  font-size: 16px;
  &:hover {
    color: rgba(33, 205, 154, 0.5);
    text-decoration: none;
   }
}
.card-player .position {
  color: #111111;
  font-size: 8;
}

.btn-green-small {
  width: 120px;
  height: 60px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  line-height: normal;
  font-size: 20px;
  color: #FEFEFE;
  background-color: $footrent-green;
  margin-left: 50px;
}


.btn-green-small:hover {
  opacity: 1;
  text-decoration: none;
  color: #A0A0A0;
}
