.player-container {
  margin: 100px;
}

.card-product {
  overflow: hidden;
  height: 250px;
  background: white;
  box-shadow: 0px 4px 4px rgba(33, 205, 154, 0.4);
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x:scroll;
}

.avatar img{
  border: 3px solid $footrent-green;
  box-sizing: border-box;
  border-radius: 128px;
  height: 200px;
  width: 200px;
  margin-left:50px;
}

.card-product h2 {
  font-size: 36px;
  font-weight: bold;
  margin-left:100px;
  margin: 0;
}

.card-product p {
  font-size: 18px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding-left: 50px;
  padding-right: 20px;
  display: flex;
}

.info{
  padding: 30px;
  img {
    height: 20px;
    width: 30px;
    margin-left: 0;
    margin-top: 10px;
  }
}

.card-product-infos h2 {
  color: $footrent-green;
}

.stats {
  margin-top: 40px;
}

.stats img {
  width:100%;
  height: auto;
  margin-bottom: 100px;
}
